@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
}

/* common styles */
.span {
  color: #FF5400;
}

.container {
  width: 90%;
  margin: 5rem auto;
  border-radius: 1rem;

}

h3 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 800;
  line-height: normal;
  line-height: 50px;
}

.primary-title {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 800;
  line-height: normal;
  line-height: 50px;
}

.secondary-title {
  color: rgb(19, 19, 24);
  font-size: 24px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}

.btn-primary {
  height: 52px;
  border-radius: 8px;
  background: rgb(255, 84, 0);
  padding: 16px 34px;
  gap: 3px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
}

.primary-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: center;
}

/* navbar styles start */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  max-width: 280px;

}

.logo img {
  width: 48px;
  height: 56px;
  margin-right: 0.5rem;
  opacity: 0.4;
}

.nav-title {
  font-size: 2rem;
  font-weight: 800;
}

.nav-option {
  display: flex;
  gap: 2.75rem;
  justify-content: space-evenly;

}

.nav-option p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #424247;
  cursor: pointer;
}

.nav-option span {
  font-weight: 700;
}

/* banner section styles start */
.explore-container {
  border-radius: 16px;
  background-image: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
  padding: 6.6rem 11.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;


}

.explore-title {
  font-size: 4rem;
  font-weight: 800;
  color: #FFFFFF;
}

.explore-container p {
  color: #FFFFFF;
  line-height: 26px;
  width: 676px;
  padding: 1.5rem;
  text-align: center;
  margin: auto;
}

.travel-inputs {
  border-radius: 8px;
  background: #FFFFFF4D;
  backdrop-filter: blur(1px);
  padding: 1rem;
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

input,
select {
  width: 174px;
  height: 52px;
  padding: 0 1rem;
  margin: 0 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #13131880;

}

.select {
  margin-right: 14px;
}

/* our popular travel style */
.popular-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  margin-top: 100px;

}

.popular-item {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: space-between;
  line-height: 26px;



}

.popular-item p,
.popular-item li,
.popular-item button {
  text-align: left;
  word-spacing: 5px;
  margin-top: 24px;

}

.popular-item ul {
  margin-left: 2rem;
}

.popular-item h3 {
  text-align: left;
}

.popular-section img {
  width: 100%;
  height: 550px;
}

/* choose your destination styles */
.your-destination p {
  margin-bottom: 3rem;

}

.your-destination img {
  width: 100%;
  height: 300px;
  filter: brightness(70%);
}

.row-1,
.row-2,
.row-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3rem 0;
  gap: 1.5rem;
}

.row-2 {
  grid-template-columns: 0.8fr 1.5fr 0.7fr;
}

.row-3 {
  grid-template-columns: 0.75fr 1.25fr;
}

.country-card {
  position: relative;
}

.country-name {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 35px;
  transform: translate(-50%, -50%);
}

/* why choose section styles */

.why-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
}

.why-item {
  box-sizing: border-box;
  border: 1px solid rgba(251, 181, 99, 0.2);
  border-radius: 16px;
  background: rgba(251, 181, 99, 0.05);
  padding: 32px 55px 32px 32px;
}

.why-items h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.why-items p {
  text-align: left;
}

.why-item2 {
  box-sizing: border-box;
  border: 1px solid rgba(41, 206, 246, 0.2);
  border-radius: 16px;
  background: rgba(41, 206, 246, 0.05);
  padding: 32px 55px 32px 32px;
}

.why-items2 h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.why-items2 p {
  text-align: left;
}

.why-item3 {
  box-sizing: border-box;
  border: 1px solid rgba(233, 68, 68, 0.2);
  border-radius: 16px;
  background: rgba(233, 68, 68, 0.05);
  padding: 32px 55px 32px 32px;
  transform: translate(50%);
  margin-top: 1.5rem;

}

.why-items3 h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.why-items3 p {
  text-align: left;
}

/* deals and discount section styles */
.tour-content {
  border-radius: 16px;
  background-image: url(../Images/Group\ 39.png);
  padding: 6.6rem 11.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;

}

.tour-content2 {

  border-radius: 16px;
  background-image: url(../Images/Group\ 39.png);
  padding: 6.6rem 11.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  margin-top: 1.2rem;
  margin-bottom: 12rem;

}

.tour-container {
  width: 579px;
  height: 389px;
  padding: 30px 77px 40px 50px;
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(1px);
  transform: translate(100%);

}

.tour-icon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.tour-icon i {
  color: #FF5400;
}

.tour-text h3 {
  margin-top: 1.6rem;
  margin-bottom: 1rem;
}

.price {
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  color: #FF5400;

}

.tour-content2 {

  border-radius: 16px;
  background-image: url(../Images/Group\ 40.png);
  padding: 6.6rem 11.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

}

.tour-container2 {
  width: 579px;
  height: 389px;
  padding: 30px 77px 40px 50px;
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(1px);
  transform: translate(-16%);

}

.tour-content3 {

  border-radius: 16px;
  background-image: url(../Images/Group\ 40.png);
  padding: 6.6rem 11.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;

}

.tour-container3 {
  width: 579px;
  height: 389px;
  padding: 30px 77px 40px 50px;
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(1px);
  transform: translate(100%);

}
.see-all{
  text-align: center;
  font-size: 20px;
  margin: 30px auto;
}
